@font-face {
  font-weight: 800;
  font-family: "Gilroy ExtraBold";
  font-style: normal;

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Gilroy Light";
  font-style: normal;

  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.01em;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(1px, 1px, 1px, 1px);
}

.btn {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  font-weight: 800;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal {
  display: none;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
/* HEADER */

.site-header {
  background: linear-gradient(to bottom, #ffffff 40px, #f7e296 40px);
  flex-direction: column;
  padding: 21px 60px 53px 60px;
  position: relative;
}

.site-header .logo img {
  margin-bottom: 15px;
}

.search-form {
  display: flex;
}

.search-form input {
  padding: 0;
  width: 355px;
  padding-left: 40px;
  padding-bottom: 10px;
  font: inherit;
  background-color: transparent;
  border: none;
  opacity: 0.3;
  outline: none;
  border-bottom: 2px solid transparent;
}

.search-form input:hover {
  opacity: 0.6;
}

.search-form input:focus {
  opacity: 1;
  border-bottom: 2px solid #000000;
}

.search-form input:focus ~ .search-btn {
  visibility: visible;
}

.search-btn {
  visibility: hidden;
  width: 85px;
  padding: 7px 18px;
  font: inherit;
  background-color: transparent;
  border: 2px solid #000000;
}

.search-btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.site-header a {
  color: rgba(0, 0, 0, 1);
}

.site-header a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.site-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-header .user-actions {
  display: flex;
  margin-bottom: 25px;
  align-items: baseline;
  justify-content: space-between;
}

.site-header .actions {
  width: 490px;
  display: flex;
  justify-content: flex-end;
}

.actions li:nth-last-child(1) {
  margin-left: 65px;
}

.actions li:nth-last-child(2) {
  margin-left: auto;
}

.actions li:nth-child(1) {
  padding-left: 25px;
}

.site-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-header nav {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
}

.main-menu .sub-menu {
  display: none;
}

.main-menu-rest {
  display: flex;
}

.main-menu-rest a,
.catalog-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sub-menu {
  line-height: 36px;
}

.main-menu-rest {
  width: 495px;
}

.main-menu-rest li:nth-child(1) {
  margin-right: 35px;
}

.main-menu-rest li:nth-last-child(1) {
  margin-left: auto;
}

.actions .inner-quit {
  color: rgba(0, 0, 0, 0.3);
  margin-left: 20px;
}

/* promo slider */

.slide .lead {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
}

.slide th {
  font-size: 13px;
  line-height: 20px;
}

.slide td {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 400;
}

/* products */

.products-bg {
  height: 160px;
  width: 160px;
  background-color: #f7e296;
}

.products-list a:hover .products-bg {
  background-color: #f0c52e;
}

.products-list a:active p {
  color: rgba(0, 0, 0, 0.3);
}

.products-list p {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

/* services */

.services-btn {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  background-color: transparent;
  font-weight: 800;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.services-slide h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.services-slide:nth-child(1) {
  background-image: url(../img/delivery.svg);
  background-repeat: no-repeat;
}

.services-slide:nth-child(2) {
  background-image: url(../img/warranty.svg);
  background-repeat: no-repeat;
}

.services-slide:nth-child(3) {
  background-image: url(../img/credit.svg);
  background-repeat: no-repeat;
}

/* about us and contacts */

.index-columns {
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 560px;
}

.contacts {
  width: 560px;
}

.about-us h2,
.contacts h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.about-us p,
.contacts p {
  letter-spacing: 0px;
}

.about-us ul {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
}

/* footer */

.site-footer {
  background-color: #464646;
}

.site-footer .container {
  display: flex;
  flex-direction: column;
}

.site-footer ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-top: 61px;
  margin-bottom: 25px;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.footer-bottom {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
}

.footer-bottom .socials {
  margin-right: 480px;
}

.footer-actions li {
  margin-left: 65px;
}

.footer-actions a {
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-actions a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-actions a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-middle address,
.telephone {
  letter-spacing: 0px;
  color: #ffffff;
}

.footer-nav li {
  margin-right: 36px;
  line-height: 24px;
}

.footer-nav a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  font-weight: 800;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.footer-nav a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-actions .inner-quit {
  color: rgba(255, 255, 255, 0.3);
}

/* INNER PAGE */

.inner-nav h1 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter-header h2,
.sort h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sort-list a {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.3);
}

.sort-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-list a:active {
  color: rgba(0, 0, 0, 1);
}

.sort-list li:nth-child(1) a {
  color: rgba(0, 0, 0, 1);
}

.filter legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.filter fieldset {
  border: none;
}

.filter ul {
  font-size: 14px;
  line-height: 40px;
}

.catalog-item h3 a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.catalog-item .item-price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.catalog-nav a,
.catalog-nav a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.catalog-nav a:active,
.catalog-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-nav li:nth-child(n + 3):not(:last-child) a {
  color: rgba(0, 0, 0, 0.3);
}

.inner-page .footer-actions li:nth-child(2) {
  margin-left: 20px;
}

/* inner nav */

.inner-nav {
  padding: 0 80px;
  margin-top: 40px;
}

.inner-nav h1 {
  margin: 0;
  margin-bottom: 24px;
}

.inner-nav .breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
  line-height: 23px;
  list-style: none;
}

.breadcrumbs li {
  margin-right: 39px;
}

/* filter and sort */

.filter-sort {
  background: linear-gradient(to right, #dcdcdc 30%, #eee 30%);
}

.filter-sort .container {
  padding-left: 80px;
  display: flex;
}

.filter-header h2,
.sort h2 {
  margin: 0;
}

.filter-header {
  width: 268px;
  height: 70px;
  background-color: #dcdcdc;
}

.filter-header h2 {
  padding-top: 23px;
}

.sort {
  display: flex;
  height: 70px;
  align-items: baseline;
  padding-top: 20px;
  flex-grow: 1;
}

.sort h2 {
  padding-left: 73px;
}

.sort-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

/* filter and catalog */

.catalog-filter .container {
  padding-left: 80px;
  display: flex;
}

.catalog-filter {
  background: linear-gradient(to right, #efefef 30%, #ffffff 30%);
}

.filter {
  background-color: #efefef;
  width: 268px;
  padding-top: 70px;
}

.filter-form input[type="checkbox"],
.filter-form input[type="radio"] {
  display: none;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;
}

.filter-form legend {
  width: 200px;
  padding-top: 10px;
  margin-bottom: 18px;
  border-top: 2px solid #000000;
}

.filter-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-form li {
  padding-left: 40px;
}

.item-color li:nth-last-child(1) {
  margin-bottom: 30px;
}

/* catalog */

.catalog {
  display: flex;
  width: 832px;
}

.catalog .catalog-item {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  margin-bottom: 40px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-left: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item h3 {
  margin: 0;
  order: 1;
  display: inline-flex;
  width: 260px;
  margin-right: auto;
}

.catalog-item .item-price {
  order: 2;
  display: inline-flex;
}

.catalog-filter .catalog-nav {
  margin: 0;
  padding: 0;
  margin-left: 70px;
  height: 70px;
  display: flex;
  list-style: none;
  align-items: center;
  background-color: #ebebeb;
  margin-bottom: 80px;
}

.catalog-nav li:not(:last-child) {
  margin-right: 30px;
}

.catalog-nav li:nth-child(1) {
  display: flex;
  margin-right: auto;
  width: 125px;
  height: 100%;
}

.catalog-nav li:nth-last-child(1) {
  display: flex;
  margin-left: auto;
  width: 125px;
  height: 100%;
}

.catalog-nav li:nth-child(1) a,
.catalog-nav li:nth-last-child(1) a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-nav li:nth-child(1):hover,
.catalog-nav li:nth-child(1):active,
.catalog-nav li:nth-last-child(1):hover,
.catalog-nav li:nth-last-child(1):active {
  background-color: #d9d9d9;
}
