@font-face {
  font-weight: 800;
  font-family: "Gilroy ExtraBold";
  font-style: normal;

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Gilroy Light";
  font-style: normal;

  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.01em;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(1px, 1px, 1px, 1px);
}

.btn {
  position: relative;
  font-family: "Gilroy", "Arial", sans-serif;
  z-index: 1;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  font-weight: 800;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  z-index: -1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f0c52e;
  transition: 0.3s ease-in-out;
}

.btn:hover::before {
  height: 100%;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

/* HEADER */

.site-header {
  background: linear-gradient(to bottom, #ffffff 40px, #f7e296 40px);
  flex-direction: column;
  padding: 21px 60px 53px 60px;
  position: relative;
}

.site-header .logo img {
  margin-bottom: 13px;
}

.site-header .logo:hover {
  opacity: 0.6;
}

.site-header .logo:active {
  opacity: 0.3;
}

.search-form {
  display: flex;
}

.search-form input {
  position: relative;
  padding: 0;
  width: 355px;
  padding-left: 40px;
  padding-bottom: 10px;
  font: inherit;
  background-color: transparent;
  border: none;
  opacity: 0.3;
  outline: none;
  border-bottom: 2px solid transparent;
}

.search-form::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 90px;
  left: 63px;
  background: url("../img/search.svg") no-repeat;
}

.search-form input:hover {
  opacity: 0.6;
}

.search-form input:focus {
  opacity: 1;
  border-bottom: 2px solid #000000;
}

.search-form input:focus ~ .search-btn {
  visibility: visible;
}

.search-btn {
  visibility: hidden;
  width: 85px;
  padding: 7px 18px;
  font: inherit;
  background-color: transparent;
  border: 2px solid #000000;
}

.search-btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.site-header a {
  color: black;
  opacity: 1;
}

.site-header a:hover {
  color: black;
  opacity: 0.6;
}

.site-header a:active {
  color: black;
  opacity: 0.3;
}

.site-header .user-actions {
  display: flex;
  margin-bottom: 25px;
  align-items: baseline;
  justify-content: space-between;
}

.site-header .actions {
  width: 490px;
  display: flex;
  justify-content: flex-end;
}

.site-header .actions a {
  display: block;
  padding-left: 25px;
}

.actions li:nth-last-child(1) {
  position: relative;
  padding-left: 25px;
}

.actions li:nth-last-child(2) {
  position: relative;
  padding-left: 25px;
  margin-right: 13px;
}

.actions li:nth-child(1) {
  position: relative;
  padding-left: 25px;
  margin-right: 187px;
}

.inner-actions li:nth-child(2) {
  margin-right: 35px;
}

.inner-actions li:nth-child(1) {
  margin-right: -5px;
}

.inner-actions .loggedIn {
  width: max-content;
}

.actions li:nth-child(1) a::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  background: url("../img/user.svg") no-repeat;
  left: 25px;
  top: 10px;
}

.actions li:nth-last-child(2) a::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  background: url("../img/compare.svg") no-repeat;
  left: 30px;
  top: 10px;
}

.actions li:nth-last-child(1) a::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  background: url("../img/cart.svg") no-repeat;
  left: 29px;
  top: 9px;
}

.site-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-header nav {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
}

.main-menu .sub-menu {
  display: none;
}

.main-menu-rest {
  display: flex;
}

.main-menu-rest a,
.catalog-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.catalog-link {
  position: relative;
  padding-right: 35px;
}

.catalog-link::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  right: 8px;
  background: url("../img/plus.svg") no-repeat;
}

.sub-menu {
  line-height: 36px;
}

.main-menu-rest {
  width: 495px;
}

.main-menu-rest li:nth-child(1) {
  margin-left: -5px;
  margin-right: 35px;
}

.main-menu-rest li:nth-last-child(1) {
  margin-left: 109px;
}

.actions .inner-quit {
  color: rgba(0, 0, 0, 0.3);
}

.actions li:nth-last-child(4) {
  margin-left: 200px;
}

/* promo slider */

.promo-slider {
  position: relative;
  margin-bottom: 100px;
  overflow: hidden;
  flex-shrink: 0;
  width: 1160px;
}

.promo-slider.container {
  padding: 0;
}

.slider-controls {
  position: absolute;
  right: 76px;
  bottom: 137px;
  z-index: 5;
}

.promo {
  margin-left: 7px;
  width: 23px;
  height: 23px;
  transform: scale(0.5);
  border: none;
  padding: 0;
  background: url("../img/slider-button-empty.svg") no-repeat;
}

.slide-active {
  background: url("../img/slider-button.svg") no-repeat;
}

.slide .lead {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
}

.slide {
  position: relative;
  display: flex;
  flex-shrink: 0;
  height: 490px;
  width: 1160px;
  background: linear-gradient(to bottom, #f7e296 110px, #ffffff 110px);
  z-index: -2;
}

.slide img {
  margin-left: 90px;
  margin-right: 126px;
}

.slide:nth-child(2) img {
  margin-left: 115px;
  margin-top: 13px;
  margin-right: 140px;
}

.slide:nth-child(2) div {
  margin-top: 79px;
  width: 455px;
}

.slide:nth-child(3) img {
  margin-left: 30px;
  margin-top: 65px;
  margin-right: 44px;
}

.slide:nth-child(3) div {
  margin-top: 79px;
  width: 495px;
}

.slide div {
  margin-top: 76px;
  align-self: flex-start;
  width: 495px;
}

.slide .btn {
  margin-left: 2px;
  position: relative;
  text-transform: uppercase;
  display: block;
  width: 220px;
  height: 40px;
  padding: 9px 5px;
  text-align: center;
  word-wrap: normal;
  background-color: transparent;
  margin-bottom: 50px;
}

.slide p {
  margin: 0;
  padding: 18px 0px 44px;
}

.slide::before {
  content: "";
  position: absolute;
  height: 7px;
  width: 100px;
  top: 35px;
  right: 460px;
  background-color: #ffffff;
}

.slide::after {
  position: absolute;
  right: 46px;
  top: -15px;
  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  font-family: "Gilroy ExtraBold", "Arial", "sans-serif";
  color: #fff;
  letter-spacing: 1.8px;
  z-index: -1;
}

.slide:nth-child(1)::after {
  content: "01";
}

.slide:nth-child(2)::after {
  content: "02";
}

.slide:nth-child(3)::after {
  content: "03";
}

.promo-slides {
  display: flex;
}

.slider-features {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  width: 100%;
  list-style: none;
}

.slider-features li:nth-last-child(1) {
  padding-right: 0;
}

.feature-value {
  padding-bottom: 8px;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy Light", "Arial", "sans-serif";
  letter-spacing: 0.36px;
}

.feature-label {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.13px;
}

.slider-features li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 78px;
}

.slide:nth-child(3) li {
  padding-right: 46px;
}

/* products */
.products {
  margin-bottom: 60px;
}

.products-bg {
  height: 160px;
  width: 160px;
  background-color: #f7e296;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-list li:nth-child(2) img {
  align-self: flex-end;
}

.products-list a:hover .products-bg {
  background-color: #f0c52e;
}

.products-list a:active p {
  color: rgba(0, 0, 0, 0.3);
}

.products-list a:active img {
  opacity: 0.3;
}

.products-list p {
  font-family: "Gilroy", "Arial", sans-serif;
  color: black;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  margin: 0;
  margin-top: 35px;
}

.products-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.products-list li {
  width: 160px;
  height: 260px;
}

/* services */

.services-slider {
  background: linear-gradient(to top, #e5e5e5 287px, #ffffff 287px);
}

.services-slides {
  display: flex;
  flex-shrink: 0;
  width: 876px;
  overflow: hidden;
}

.services-btn {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  background-color: transparent;
  font-weight: 800;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  width: 160px;
  padding: 9px 15px;
  margin-bottom: 24px;
}

.services-btn-active {
  width: 100%;
  color: #f7e184;
  text-align: start;
}

.services-btn-active:active {
  color: #f7e184;
}

.services-btn-active::before {
  height: 100%;
  background-color: #000000;
}

.services-slide {
  width: 876px;
  height: 388px;
  padding-top: 75px;
  padding-left: 117px;
  background-position: right 65px bottom 61%;
  flex-shrink: 0;
}

.services-slide p {
  margin-top: 30px;
  width: 458px;
}

.services-slide h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  margin: 0;
}

.services-slide {
  background-repeat: no-repeat;
}

.services-slide:nth-child(1) {
  background-image: url("../img/delivery.svg");
}

.services-slide:nth-child(2) {
  background-image: url("../img/warranty.svg");
}

.services-slide:nth-child(3) {
  background-image: url("../img/credit.svg");
}

.services-slider .container {
  display: flex;
}

.services-slider .services-controls {
  position: relative;
  width: 284px;
  height: 388px;
  padding-top: 80px;
  flex-shrink: 0;
}

.services-controls::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 319px;
  top: 2px;
  right: 0;
  background-color: #000000;
}

/* brands */

.brand-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding: 94px 0px 87px;
  justify-content: space-between;
}

.brand-list li:nth-child(1):hover {
  background: url("../img/partner-1color.png") no-repeat;
}

.brand-list li:nth-child(2):hover {
  background: url("../img/partner-2color.png") no-repeat;
}

.brand-list li:nth-child(3):hover {
  background: url("../img/partner-3color.png") no-repeat;
}

.brand-list li:nth-child(4):hover {
  background: url("../img/partner-4color.png") no-repeat;
}

/* about us and contacts */

.about-us .btn,
.contacts .btn {
  display: block;
  width: 260px;
  text-transform: uppercase;
  padding: 8px 15px;
  text-align: center;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 82px;
}

.about-us {
  position: relative;
  width: 475px;
}

.contacts {
  position: relative;
  width: 560px;
}

.map img {
  margin: 0px 0px 61px;
}

.about-us h2,
.contacts h2 {
  margin: 0;
  padding: 52px 0px 41px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.about-us p,
.contacts p {
  letter-spacing: 0px;
  margin: 0;
}

.about-us p {
  margin-bottom: 30px;
}

.contacts p {
  margin-bottom: 39px;
}

.about-us ul {
  margin: 0;
  padding: 0;
  padding: 36px 0px 49px 35px;
  list-style: none;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
}

.about-us li {
  position: relative;
  padding-bottom: 2px;
}

.about-us::before,
.contacts::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

/* footer */

.site-footer {
  background-color: #464646;
}

.site-footer .container {
  display: flex;
  flex-direction: column;
}

.site-footer ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-top: 61px;
  margin-bottom: 25px;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.footer-bottom {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
}

.footer-bottom::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
  left: 0;
  top: 15px;
}

.footer-logo svg {
  margin-top: 5px;
  fill: #ffc600;
}

.footer-bottom .socials {
  margin-right: 457px;
}

.socials li a {
  margin-right: 25px;
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.6;
  border-radius: 50%;
}

.socials li a:hover {
  opacity: 1;
}

.socials li a:active {
  opacity: 0.3;
}

.socials li:nth-child(1) a {
  background-image: url("../img/fb.svg");
}

.socials li:nth-child(2) a {
  background-image: url("../img/instagram.svg");
}

.socials li:nth-child(3) a {
  background-image: url("../img/twitter.svg");
}

.footer-actions li {
  margin-left: 35px;
}

.footer-actions a {
  position: relative;
  padding-left: 28px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-actions a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-actions a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-actions a:hover::before {
  opacity: 0.6;
}

.footer-actions a:active::before {
  opacity: 0.3;
}

.footer-actions li:nth-last-child(1) a::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  background: url("../img/cart-footer.svg") no-repeat;
  top: 3px;
  left: 5px;
}

.footer-actions li:nth-last-child(2) a::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  background: url("../img/compare-footer.svg") no-repeat;
  top: 5px;
  left: 9px;
}

.footer-actions li:nth-child(1) a::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  background: url("../img/user-footer.svg") no-repeat;
  top: 3px;
  left: 4px;
}

.footer-middle address,
.telephone {
  margin-top: -5px;
  letter-spacing: 0px;
  color: #ffffff;
  font-style: normal;
}

.footer-nav li {
  margin-right: 36px;
  line-height: 24px;
}

.footer-nav a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  font-weight: 800;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.footer-nav a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-actions .inner-quit {
  color: rgba(255, 255, 255, 0.3);
  margin-left: -28px;
}

/* INNER PAGE */

.inner-nav h1 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter-header h2,
.sort h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sort-list a {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.3);
}

.sort-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-list a:active {
  color: rgba(0, 0, 0, 1);
}

.sort-list li:nth-child(1) a {
  color: rgba(0, 0, 0, 1);
}

.filter legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.filter fieldset {
  border: none;
}

.filter ul {
  font-size: 14px;
  line-height: 40px;
}

.item-color label {
  position: relative;
}

.item-color label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background: url("../img/checkbox-off.svg") no-repeat;
  left: -39px;
  top: -2px;
}

.item-color input:checked + label::before {
  background: url("../img/checkbox-on.svg") no-repeat;
}

.bluetooth-list label {
  position: relative;
}

.bluetooth-list label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: url("../img/radio-off.svg") no-repeat;
  left: -39px;
  top: -4px;
}

.bluetooth-list input:checked + label::before {
  background: url("../img/radio-on.svg") no-repeat;
}

.catalog-item h3 a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.catalog-item .item-price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.catalog-nav a,
.catalog-nav a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.catalog-nav a:active,
.catalog-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-nav li:nth-child(n + 3):not(:last-child) a {
  color: rgba(0, 0, 0, 0.3);
}

.inner-page .footer-actions li:nth-child(2) {
  margin-left: 20px;
}

.catalog-item {
  position: relative;
}

.item-hover {
  display: none;
  position: absolute;
  width: 360px;
  height: 380px;
  padding-top: 170px;
  top: 0;
  left: 0;
  background-color: rgba(238, 238, 238, 0.7);
}

.catalog-item:hover .item-hover {
  display: block;
}

.item-hover a {
  display: block;
  margin: 0 50%;
  transform: translateX(-50%);
  width: 200px;
  text-align: center;
}

.item-hover .btn {
  padding: 8px 15px;
  text-transform: uppercase;
}

.toCompare {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  line-height: 36px;
}

.toCompare:hover {
  color: rgba(0, 0, 0, 1);
}

.toCompare:active {
  color: rgba(0, 0, 0, 0.2);
}

/* inner nav */

.inner-nav {
  padding: 0 80px;
  margin-top: 33px;
}

.inner-nav h1 {
  margin: 0;
  margin-bottom: 24px;
}

.inner-nav .breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
  line-height: 23px;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 37px;
}

.breadcrumbs li:not(:nth-last-child(1))::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 8px;
  top: 9px;
  right: -19px;
  background: url("../img/nav-arrow.svg") no-repeat;
}

/* filter and sort */

.filter-sort {
  background: linear-gradient(to right, #dcdcdc 30%, #eee 30%);
}

.filter-sort .container {
  padding-left: 80px;
  display: flex;
}

.filter-header h2,
.sort h2 {
  margin: 0;
}

.sort h2 {
  margin-right: 55px;
}

.filter-header {
  width: 268px;
  height: 70px;
  background-color: #dcdcdc;
}

.filter-header h2 {
  padding-top: 23px;
}

.sort {
  display: flex;
  height: 70px;
  align-items: baseline;
  padding-top: 20px;
  flex-grow: 1;
}

.sort h2 {
  padding-left: 73px;
}

.sort-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  width: 100%;
}

.sort-list li {
  margin-right: 30px;
}

.sort-list .up-arrow {
  position: relative;
  margin: 0;
}

.sort-list .down-arrow {
  position: relative;
  margin: 0;
}

.sort-list .down::before,
.sort-list .up::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
}

.sort-list .down::before {
  background: url("../img/icon-down-dir.svg") no-repeat;
  top: 10px;
  left: -10px;
}

.sort-list .up::before {
  background: url("../img/icon-up-dir.svg") no-repeat;
  top: 10px;
  left: -40px;
}

.up,
.down {
  opacity: 0.2;
}

.up:hover,
.down:hover {
  opacity: 0.4;
}

.up:active,
.down:active {
  opacity: 1;
}

.sort-active {
  opacity: 1;
}

.sort-list li:nth-last-child(3) {
  margin-right: auto;
}

/* filter and catalog */

.catalog-filter .container {
  padding-left: 80px;
  display: flex;
}

.catalog-filter {
  background: linear-gradient(to right, #efefef 30%, #ffffff 30%);
}

.range {
  position: relative;
  width: 200px;
  height: 2px;
  margin-top: 15px;
  margin-bottom: 68px;
  background-color: #dbdbdb;
}

.line {
  width: 110px;
  height: 2px;
  background-color: #91c92f;
}

.min-toggle {
  position: absolute;
  top: -9px;
  left: -6px;
  width: 20px;
  height: 22px;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.max-toggle {
  position: absolute;
  top: -9px;
  right: 72px;
  width: 20px;
  height: 22px;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.min-toggle:active,
.max-toggle:active {
  transform: scale(1.12);
}

.range-labels {
  display: flex;
}

.range-labels span {
  margin-right: 5px;
  display: inline-flex;
  padding-top: 10px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.71;
  font-family: "Gilroy Light", "Arial", "sans-serif";
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.range-labels input {
  width: 60px;
  height: 20px;
  font-family: "Gilroy Light", "Arial", "sans-serif";
  color: rgba(0, 0, 0, 0.2);
  margin-top: 11px;
  background-color: #efefef;
  border: none;
}

.range-labels input:focus {
  color: rgba(0, 0, 0, 1);
}

.filter {
  background-color: #efefef;
  width: 268px;
  padding-top: 70px;
}

.filter-form input[type="checkbox"],
.filter-form input[type="radio"] {
  display: none;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;
}

.filter-form legend {
  width: 200px;
  padding-top: 10px;
  margin-bottom: 18px;
  border-top: 2px solid #000000;
}

.filter-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-form li {
  padding-left: 37px;
}

.item-color li:nth-last-child(1) {
  margin-bottom: 30px;
}

.filter-form .btn {
  padding: 8px 15px;
  width: 200px;
  text-transform: uppercase;
  margin-top: 32px;
}

/* catalog */

.catalog {
  display: flex;
  width: 832px;
}

.catalog .catalog-item {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  margin-bottom: 56px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-left: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item img {
  margin-bottom: 10px;
}

.catalog-item h3 {
  margin: 0;
  order: 1;
  display: inline-flex;
  width: 260px;
  margin-right: auto;
}

.catalog-item .item-price {
  order: 2;
  display: inline-flex;
}

.catalog-filter .catalog-nav {
  margin: 0;
  padding: 0;
  margin-left: 70px;
  height: 70px;
  display: flex;
  list-style: none;
  align-items: center;
  background-color: #ebebeb;
  margin-bottom: 80px;
}

.catalog-nav li:not(:last-child) {
  margin-right: 30px;
}

.catalog-nav li:nth-child(1) {
  display: flex;
  margin-right: auto;
  width: 125px;
  height: 100%;
}

.catalog-nav li:nth-last-child(1) {
  display: flex;
  margin-left: auto;
  width: 125px;
  height: 100%;
}

.catalog-nav li:nth-child(1) a,
.catalog-nav li:nth-last-child(1) a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-nav li:nth-child(1):hover,
.catalog-nav li:nth-child(1):active,
.catalog-nav li:nth-last-child(1):hover,
.catalog-nav li:nth-last-child(1):active {
  background-color: #d9d9d9;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  color: #000000;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  width: 960px;
  min-height: 553px;
  transform: translate(-50%);
  padding: 95px 100px;
  box-shadow: 0 10px 20px 0 rgba(0, 4, 6, 0.2);
}

.modal .close-btn {
  position: absolute;
  top: 22px;
  right: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #f0c52e;
  border: 0;
  cursor: pointer;
  opacity: 0.5;
}

.close-btn::before,
.close-btn::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 27px;
  height: 30px;
  width: 2px;
  background-color: #ffffff;
}

.close-btn::before {
  transform: rotate(45deg);
}

.close-btn::after {
  transform: rotate(-45deg);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #f0c52e;
  opacity: 1;
}

.close-btn:active {
  background-color: #f0c52e;
  opacity: 0.3;
}

.name-email {
  display: flex;
  justify-content: space-between;
}

.name-email .name,
.name-email .email {
  width: 360px;
}

.modal label {
  display: block;
  font-family: "Gilroy", "Arial", "sans-serif";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 800;
  margin-bottom: 5px;
}

.modal input,
.modal textarea {
  font-family: "Open Sans", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  font-weight: 300;
  width: 100%;
  height: 50px;
  border: none;
  background-color: #e5e5e5;
  opacity: 0.5;
  padding-left: 20px;
  margin-bottom: 35px;
}

.modal textarea {
  padding-top: 17px;
  height: 155px;
}

.modal .btn {
  text-transform: uppercase;
  width: 200px;
  padding: 8px 0;
}

.modal input:hover,
.modal textarea:hover {
  opacity: 0.8;
}

.modal input:focus,
.modal textarea:focus {
  background-color: #ffffff;
  border: 3px solid #f7e296;
  opacity: 1;
  outline: none;
}

/**/
